<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <title>bottles be 99'n</title>
    <title>Adam's books</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>

    <p>
<script>
        var drink = "Energy drink";
        var lyrics = "";
        var cans = 99;
    
    while (cans > 0){
        lyrics = lyrics + cans + "cans of"
            + drink + "on the wall <br>";
        lyrics = lyrics + cans + "cans of "
            + drink + "<br>";
        lyrics = lyrics + "take one down , pass it around, <br>";
        if (cans > 1) {
            lyrics = lyrics + (cans-1) + "cans of "
            + drink + "on the wall <br>";
        }
        else {
            lyrics = lyrics + "no more cans of cans of "
                + drink + "on the wall <br>";
        }

        cans = cans - 1;
    }
    document.write(lyrics)
</script>
</p>

</body>
</html>