<!DOCTYPE html>
{% extends "layout.html" %}

{% block heading %}
Registration
{% endblock %}

{% block body %}

<p>
    We are so excited that you are registering for Adam's books website!
</p>

<form action="/registration" method="POST">

    <input type="email" name = "name" placeholder="Enter your email">
    
    <div>
        <input type="password" name = "Password1" placeholder="Create a password">
    </div>
    <div>
        <input type="password" name = "Password2" placeholder="Retype password">
    </div>
    <div>
    <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>



{% endblock %}